// app global css in SCSS form

body {
    font-size: clamp(16px, 4vw, 22px);
  }

html, body, #q-app, .q-layout, .q-page-container {
    overflow: hidden;
    height: 100%;
    position: relative;
}
